@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(90deg, #000, #c14141, #000);
  min-height: 100vh;
}
.app {
  max-width: 1560px;
  margin: 0 auto;
  width: 95vw;
}
